<div class="carduser">

  <div class="card-profile">

    <div class="title-text"> Hello <strong> Kristy </strong>, welcome back !</div>
    <div class="trait"></div>
    <div class="avatar">
      <img src="assets/images/user_avatar.png" class="rounded-circle" alt="Cinque Terre" width="164px" height="164px">
    </div>
    <p class="text-firstname"> Kristy </p>
    <p class="text-birthday"> Joined in 2014 </p>
    <div class="trait"></div>
    <p class="description"> Kristy is the manager of BENAB-606 in New York.</p>
    <div class="trait"></div>
    <p class="referrais"> <img src="assets/icons/userscan.png" alt=""> <span class="text-reffer"> 3 Referrals </span>
    </p>
  </div>


  <div class="coduser">
    <div class="agent-text">Agent code</div>
    <div class="ligne-horiz">
      <p class="trait"></p>
    </div>
    <div class="agent-code">5418XDF56</div>
  </div>

</div>
