<div class="content-all">
  <div class="main-content">
    <div class="text-title">Purchase > <strong>All products </strong></div>
    <div class="trait"></div>

    <div class="tab-content">
      <div class="table-responsive">
        <table class="table">
          <thead class="head-table">
            <tr>
              <th scope="col" class="title-head">Product</th>
              <th scope="col" class="title-head">Quantity</th>
              <th scope="col" class="title-head">Price</th>
              <th scope="col" class="title-head">Date of order</th>
              <th scope="col" class="title-head">Date of delivery</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fuel Enzyme Treatment 20 ml</td>
              <td>500</td>
              <td>20$</td>
              <td>27-05-2022</td>
              <td>DD-MM-YYYY</td>
            </tr>
            <tr>
              <td>Fuel Enzyme Treatment 20 ml</td>
              <td>500</td>
              <td>20$</td>
              <td>27-05-2022</td>
              <td>DD-MM-YYYY</td>
            </tr>
            <tr>
              <td>Fuel Enzyme Treatment 20 ml</td>
              <td>500</td>
              <td>20$</td>
              <td>27-05-2022</td>
              <td>DD-MM-YYYY</td>
            </tr>
            <tr>
              <td>Fuel Enzyme Treatment 20 ml</td>
              <td>500</td>
              <td>20$</td>
              <td>27-05-2022</td>
              <td>DD-MM-YYYY</td>
            </tr>
            <tr>
              <td>Fuel Enzyme Treatment 20 ml</td>
              <td>500</td>
              <td>20$</td>
              <td>27-05-2022</td>
              <td>DD-MM-YYYY</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
