<div class="content-all">
  <div class="calender">
    <p class="day-year">May 25, 2022</p>
    <div class="nav-day">
      <p class="to-day">Today</p>

      <div class="nav">
        <div class="back"><p class="tick-direction"></p></div>
        <div class="next"><p class="tick-direction-nextd"></p></div>
      </div>
    </div>
    <div>
      <div class="nav-tab-day">
        <table>
          <tr>
            <td>Sun</td>
            <td>Mon</td>
            <td>Tue</td>
            <td class="select-day">Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
          </tr>
          <tr>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td class="select-day">25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
          </tr>
          <tr>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
        </table>
      </div>

      <div class="time-line">
        <div class="card-desriptif">
          <div class="date-time">
            <p class="calen-cards">May, 25 2022</p>
            <p class="timming">9:00 AM</p>
          </div>
          <div class="tex-descrt">
            <p class="titl">Delivery mission title</p>
            <p class="para">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit..
            </p>
          </div>
          <div class="chek">
            <div class="cube-chek">
              <p class="cube">
                <img src="assets/icons/validate.svg" alt="" />
              </p>
            </div>
          </div>
        </div>

        <div class="card-desriptif">
          <div class="date-time">
            <p class="calen-cards">May, 25 2022</p>
            <p class="timming">9:00 AM</p>
          </div>
          <div class="tex-descrt">
            <p class="titl">Delivery mission title</p>
            <p class="para">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
          <div class="chek">
            <div class="cube-chek">
              <p class="cube">
                <img src="assets/icons/validate.svg" alt="" />
              </p>
            </div>
          </div>
        </div>

        <div class="card-desriptif">
          <div class="date-time">
            <p class="calen-cards">May, 25 2022</p>
            <p class="timming">9:00 AM</p>
          </div>
          <div class="tex-descrt">
            <p class="titl">Delivery mission title</p>
            <p class="para">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
          <div class="chek">
            <div class="cube-chek">
              <p class="cube">
                <img src="assets/icons/validate.svg" alt="" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph">
    <div class="chifres">
      <div class="item-value col1"><strong class="t-h c-1"> 11 </strong> <span class="fact">Hours Worked</span></div>
      <div class="item-value col2"> <strong class="t-h c-2"> $2.4k</strong><span class="fact">Money Paid</span></div>
      <div class="item-value col3"><strong class="t-h c-3"> 36</strong><span class="fact">Tasks Done</span></div>
    </div>

    <div class="courbe">
      <div class="text-title"><span>Your statistics</span></div>
      <div class="trait"></div>

      <div class="band-filter">
        <p class="work">
          <span class="work-item">Working Hours</span>
          <span class="mycours-item">My Courses</span>
        </p>
        <div class="list-select">
          <select name="" class="list-cal">
            <option>Weekly</option>
            <option>mounth</option>
            <option>.....</option>
          </select>
        </div>
      </div>

      <div class="key-graph">
        <p class="week-st"><span class="orang">.</span> This Week</p>
        <p class="lastw"><span class="gren">.</span>  Last Week</p>
      </div>

      <div class="graph-presentation"></div>
    </div>
  </div>
</div>
