<div class="all-bloc">
  <div class="header">
    <div class="mini-nav">
      <p class="detail-title">Sales promo</p>
      <span class="home-span" routerLink="/">Home </span>

      <span class="prod-span"> > Sales promo</span>
    </div>
  </div>

  <div class="container-center">
    <p class="title-part last2">Limited offer</p>
    <div class="parag">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo sed
        risus quis urna, ac, facilisis nisi, faucibus. Eleifend eget scelerisque
        sem dignissim iaculis amet bibendum.
      </p>
    </div>
  </div>

  <div class="large-center">
    <div class="free-delivery">
      <img src="assets/images/promo/offer.png" alt="" class="deliv" />
    </div>

    <div class="vedeo-promo">
      <iframe
        src="https://www.youtube.com/embed/vyJruHSAv3c"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="vedeo-promo"
      ></iframe>
    </div>
  </div>

  <div class="container-center">
    <p class="title-part last2">Next promo</p>
  </div>

  <div class="large-center">
    <div class="items-part">
      <img src="assets/images/promo/draped.png" alt="" class="draped" />

      <div class="forme-gr">
        <p class="para">
          In this section <strong>  you choose! </strong><br> Choose the next product for promotions:
        </p>
        <label for="list-product" class="list-product ">Choice/ Product</label>
        <select id="list-product">
          <option value="valeur 1" class="option">EcoBoostXB 1L</option>
          <option value="valeur 2" class="option"> EcoBoostXB 4L</option>
          <option value="valeur 2" class="option">XBEE 208 Liters</option>
          <option value="valeur 2" class="option"> EcoBoostXB 25ML</option>
        </select>
      </div>
    </div>
  </div>

  <div class="become">
    <app-becom-ecoboost> </app-becom-ecoboost>
  </div>
</div>
