<div class="bloc-footer">
  <div class="corbr">
    <img src="assets/images/home/Subtract.png" alt="icon-cprbure" />
  </div>
  <div class="footer">
    <div class="containr">
      <div class="log-desc">
        <img
          src="assets/images/home/logof.png"
          alt="logo-ecoboost"
          class="logo-item"
        />
        <p class="p-footer">
          EcoBoost™ powered by Xbee Technology is a one-stop solution with many
          benefits. It is an advanced enzyme-based solution for increasing fuel
          efficiency and engine reliability.
        </p>

        <button class="b-col" routerLink="/about">Read more</button>
      </div>

      <div class="onglets">
        <div class="sectionInteret">
          <div class="item-flex">
            <strong class="title"> Site map </strong>
            <ul class="li">
              <li routerLink="/home">Home</li>
              <li routerLink="/about">About us</li>
              <li routerLink="/product">Products</li>
            </ul>
          </div>

          <div class="item-flex botom">
            <ul class="li">
              <li routerLink="/our-value">Our values</li>
              <li routerLink="/promo">Sales promo</li>
              <li routerLink="/contact">Contact-us</li>
            </ul>
          </div>

          <div class="item-flex">
            <strong class="title">Contact us</strong>
            <ul class="li">
              <li class="flx-li">
                <img
                  src="assets/images/home/pin_light.png"
                  alt=""
                  class="bloc-img"
                />
                <p class="limit-width fixstyle">
                  2nd Street Manu Avenue, Accra. Ghana
                </p>
              </li>

              <li class="flx-li">
                <img src="assets/images/home/phone_light.png" alt="" />
                <p class="limit-width fixstyle">
                  +233 (0)30 2436887 +233 (0)55 2830258 +233 (0)55 9709458
                </p>
              </li>

              <li class="flx-li">
                <img
                  src="assets/images/home/Message_light.png"
                  alt=""
                  class="bloc-img"
                />
                <p class="limit-width fixstyle">ecoboost@lumgint.com</p>
              </li>
            </ul>
          </div>

          <div class="item-flex">
            <strong class="title">Follow us</strong>
            <ul class="ul">
              <li>
                <a
                  href="https://www.facebook.com/EcoBoostEnzymeFuelTreatment/"
                  target="_blank"
                  ><img src="assets/images/home/facebook.png" alt=""
                /></a>

                <a
                  href="https://www.instagram.com/ecoboostft"
                  target="_blank"
                  class="img-left"
                  ><img src="assets/images/home/instagram.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="coperate">
  <span>Copyright © 2022 - EcoBoost. All rights reserved</span>
  <span hidden>Developer: khaled chalouati </span>
</div>
