
<div class="all-content">

  <div class="main-content">
    <div class="text-title"><strong > My personal informations </strong> </div>
    <div class="trait"></div>
  </div>

  <form class="content">
    <div class="data-formulaire">

      <div class="field">
        <label for="First" class="disply-label"> First Name * </label>
        <input type="text" id="First" class="text-input" disabled placeholder="Davis">
        <img src="assets/images/icons/edit.png" alt="" class="cray-edit">
      </div>

      <div class="field">
        <label for="Last" class="disply-label decal-right"> Last Name * </label>
        <input type="text" id="Last" class="text-input decal-right" disabled placeholder="Levin">
        <img src="assets/images/icons/edit.png" alt="" class="cray-edit">
      </div>

      <div class="field">
        <label for="mail" class="disply-label"> E-mail * </label>
        <input type="text" id="mail" class="text-input" disabled placeholder="d.levin@gmail.com">
        <img src="assets/images/icons/edit.png" alt="" class="cray-edit">
      </div>

      <div class="field">
        <label for="Phone" class="disply-label decal-right"> Phone Number * </label>
        <input type="text" id="Phone" class="text-input decal-right" disabled placeholder="000 000 0000">
        <img src="assets/images/icons/edit.png" alt="" class="cray-edit">
      </div>

      <div class="field">
        <label class="disply-label"> Gendre (optional) *
       <!--<img src="assets/images/icons/edit.png" alt="" class="cray-edit"> -->
        </label>

     <div class="gend">

      <div class="gendr1">
        <input type="radio" id="femal" class="radio-input" >
        <label for="femal" class="disply-label label-inline-right"> Female </label>
      </div>

      <div class="gendr10">
        <input type="radio" id="Male" class="radio-input" >
        <label for="Male" class="disply-label label-inline-left"> Male </label>
      </div>
     </div>

    </div>

      <div class="field">
        <label class="disply-label decal-right"> Birthday Date (optional)
       <!--<img src="assets/images/icons/edit.png" alt="" class="cray-edit"> -->
      </label>
        <div class="birthday decal-right">
           <div class="day">
              <select name="" class="item-input day">
               <option>01</option>
               <option>2</option>
               <option>2</option>
             </select>
           </div>
           <div class="mouth">
            <select name="" class="item-input mouth">
              <option>January</option>
              <option>02</option>
              <option>02</option>
            </select>
           </div>
           <div class="year">
            <select name="" class="item-input year">
              <option>1980</option>
              <option>1980</option>
              <option>1980</option>
            </select>
           </div>
        </div>
      </div>

      <div class="field adresseField">
        <label for="name" class="disply-label"> Address * </label>
        <input type="text" id="name" class="text-input" disabled placeholder="Sed fermentum amet lobortis vitae.">
        <img src="assets/images/icons/edit.png" alt="" class="cray-edit">
      </div>

      <div class="pwd">
        <label for="name" class="disply-label"> Password * </label>
        <input type="password" id="name" class="text-input" disabled placeholder="*********">
        <img src="assets/images/icons/edit.png" alt="" class="cray-edit">
      </div>

   <div class="action-btn">
      <input type="button" class="btn-save" value="Apply ">
   </div>
    </div>
    </form>

  </div>


