.barre-notif {
  height: 48px;
  background: rgba(188, 236, 174, 0.3);
  border-radius: 8px;
  padding-left: 60px;
  .message-notif {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
    /* identical to box height */

    color: #2d8c10;
  }
}
