<div class="chifres">
  <div class="item-value col2"> <img class="img-cam" src="assets/icons/truck.png" alt="" width="90px"> <span class="fact">Shipped Orders</span><span class="t-h c-2"> 80 </span></div>
  <div class="item-value col1"><img class="img-cam" src="assets/icons/hourglass.png"> <span class="fact">Pending Orders</span> <span class="t-h c-1"> 09 </span></div>
  <div class="item-value col3"> <img class="img-cam" src="assets/icons/bag.png"><span class="fact">New Orders</span> <span class="t-h c-3"> 05 </span> </div>
</div>




<div class="main-content">

  <div class="text-title">My Orders > <strong >Pending orders </strong> </div>
  <div class="trait"></div>

  <div class="tab-content">

    <div class="table-responsive">

      <table class="table">
        <thead class="head-table">
          <tr>
            <th scope="col" class="title-head">Product</th>
            <th scope="col" class="title-head">Quantity</th>
            <th scope="col" class="title-head">Price</th>
            <th scope="col" class="title-head">Date of order</th>
            <th scope="col" class="title-head">Date of delivery</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fuel Enzyme Treatment 20 ml</td>
            <td>500</td>
            <td>20$</td>
            <td>27-05-2022</td>
            <td>DD-MM-YYYY</td>
          </tr>
          <tr>
            <td>Fuel Enzyme Treatment 20 ml</td>
            <td>500</td>
            <td>20$</td>
            <td>27-05-2022</td>
            <td>DD-MM-YYYY</td>

          </tr>
          <tr>
            <td>Fuel Enzyme Treatment 20 ml</td>
            <td>500</td>
            <td>20$</td>
            <td>27-05-2022</td>
            <td>DD-MM-YYYY</td>

          </tr>
          <tr>
            <td>Fuel Enzyme Treatment 20 ml</td>
            <td>500</td>
            <td>20$</td>
            <td>27-05-2022</td>
            <td>DD-MM-YYYY</td>

          </tr>

          <tr>
            <td>Fuel Enzyme Treatment 20 ml</td>
            <td>t500</td>
            <td>20$</td>
            <td>27-05-2022</td>
            <td>DD-MM-YYYY</td>

          </tr>

          <tr>
            <td>Fuel Enzyme Treatment 20 ml</td>
            <td>500</td>
            <td>20$</td>
            <td>27-05-2022</td>
            <td>DD-MM-YYYY</td>
          </tr>


          <tr>
            <td>Fuel Enzyme Treatment 20 ml</td>
            <td>500</td>
            <td>20$</td>
            <td>27-05-2022</td>
            <td>DD-MM-YYYY</td>
          </tr>

          <tr>
            <td>Fuel Enzyme Treatment 20 ml</td>
            <td>500</td>
            <td>20$</td>
            <td>27-05-2022</td>
            <td>DD-MM-YYYY</td>
          </tr>

        </tbody>
      </table>

    </div>

    <div class="page-tab">
      <span class="link-page"> &#171;Back</span>
       <input type="number" class="page-number">
       <span class="link-page"> Next&#187;</span>
    </div>

  </div>

  </div>
