<div class="header">
  <div class="mini-nav">
    <p class="detail-title">Our values</p>
    <span class="home-span" routerLink="/">Home </span>
    <span class="prod-span"> > Our values </span>
  </div>
</div>

<div class="container-center">
  <p class="title-part last2">Benefits</p>
  <p class="text-benifit">
    <strong> EcoBoost™ is a one-stop solution with many benefits. </strong>
    <br />
    It is an advanced enzyme-based solution for increasing fuel efficiency and
    engine reliability.
  </p>
</div>

<div class="container-larg">
  <div class="card-six cont-l">
    <div class="card hl-card">
      <img src="assets/images/ourvalue/image 1.jpg" alt="" class="larg1" />
      <span class="band-title left-algn">Deep clean</span>
      <p class="text-item left-text">
        In storage, the interaction with old and stale fuel and any contaminants
        present, accelerate calorific degradation and flocculation. This affects
        combustion efficiency and increases emission levels from the commingled
        fuel creating carbon and soot build-up in engines and exhaust.
      </p>
      <p class="text-item left-text">
        EcoBoost™ enzymes are powerful natural surfactants and dispersants. Fuel
        sludge is bio-remediated and harmful contaminants such as bacteria,
        fungi, and mold are kept in check. As a result, fuel filters remain
        cleaner, separator workload is reduced and the Stoichiometric ratio
        restored.
      </p>

      <p class="text-item left-text">
        EcoBoost™ aids in the maintenance of fuel tank and fuel delivery
        systems, eliminate carbon build-ups in engines and exhausts.
      </p>
    </div>

    <div class="card hl-card">
      <img src="assets/images/ourvalue/image 2.jpg" alt="" class="larg1" />
      <span class="band-title left-algn">Performance & savings</span>
      <p class="text-item left-text">
        A clean engine shows better performance than one obstructed with carbon
        build-ups, damaged pumps, worn injectors, etc. This improved performance
        is marked by the reduction of lubricant oil consumption.
      </p>
      <p class="text-item left-text">
        On one hand, said lube oil is clearer and cleaner than before using the
        EcoBoost™ enzyme fuel treatment.
      </p>

      <p class="text-item left-text">
        On the other hand, fuel that burns better, quicker and more completely
        induces better efficiency, i.e. more power for the same consumption or
        reduced fuel consumption for the same power output.
      </p>
      <p class="text-item left-text">
        EcoBoost™ fuel additive eliminates the fuel over-consumption caused by
        contaminants in the tanks and carbon and soot build-ups in the engines.
      </p>
    </div>

    <div class="card hl-card">
      <img src="assets/images/ourvalue/image 3.jpg" alt="" class="larg1" />
      <span class="band-title left-algn">Environmental health </span>
      <p class="text-item left-text">
        EcoBoost™ is dedicated to protecting and preserving the environment:
        first of all, by its entirely organic base composition, the EcoBoost™
        Enzyme Fuel Technology cannot harm the environment. This is part of a
        more globally sustainable development scheme.
      </p>

      <p class="text-item left-text">
        The environmental impact from using petroleum-derived fuels and the
        effect on human and animal health are becoming clear. EcoBoost treated
        fuels can lower
      </p>

      <p class="text-item left-text">
        the harmful environmental impact. Recently discovered renewable fuels
        (biofuels etc.) have also shown to benefit from the addition of EcoBoost
        enzyme technology when used in boilers.
      </p>
    </div>
  </div>
</div>

<div class="container-center">
  <p class="title-part last2">Distributors & resellers by country</p>

  <p class="parag">
    EcoBoost Enzyme Fuel Treatment powered by Xbee Technology Customer Service
    contact numbers are available from Monday to Saturday in the Countries
    listed below. Alternatively, you can find the most Frequently Asked
    Questions & Answers under the FAQ menu.
  </p>
  <div class="contry-flx">
    <div class="country-card">
      <p class="header-card">Ghana</p>
      <p class="country-name">Accra</p>

      <div class="item-contact">
        <strong class="factor"> ADDRESS </strong>
        <p class="text-descrpt">2nd Street Manu Avenue, Accra. Ghana</p>
      </div>

      <div class="item-contact">
        <strong class="factor"> PHONE </strong>
        <p class="text-descrpt mb-0">+233 (0)30 2436887 +233 (0)55 2830258</p>
        <p class="text-descrpt">+233 (0)55 9709458</p>
      </div>

      <div class="item-contact">
        <strong class="factor"> EMAIL </strong>
        <p class="text-descrpt">ecoboostxb@lumgint.com</p>
      </div>

      <p class="click-map">
        <img src="assets/icons/pin.png" alt="icon-position" />
        <span class="align-v" routerLink="/our-value/adress">
          Click for resellers (Ghana)
        </span>
      </p>
    </div>

    <div class="country-card">
      <p class="header-card">Togo</p>
      <p class="country-name">Lome</p>

      <div class="item-contact">
        <strong class="factor"> ADDRESS </strong>
        <p class="text-descrpt">Abobokome Non loin du FUCEC</p>
      </div>

      <div class="item-contact">
        <strong class="factor"> PHONE </strong>
        <p class="text-descrpt">+228 91929609</p>
      </div>

      <div class="item-contact">
        <strong class="factor"> EMAIL </strong>
        <p class="text-descrpt">ecoboostxb@lumgint.com</p>
        <p class="text-descrpt">www.lumgint.com</p>
      </div>
    </div>

    <div class="country-card">
      <p class="header-card">Nigeria</p>
      <p class="country-name">Lagos</p>

      <div class="item-contact">
        <strong class="factor"> EMAIL </strong>
        <p class="text-descrpt">ecoboostxb@lumgint.com</p>
        <p class="text-descrpt">www.lumgint.com</p>
      </div>
    </div>

    <div class="country-card">
      <p class="header-card">Cote d'ivoire</p>
      <p class="country-name">Abidjan</p>
      <div class="item-contact">
        <strong class="factor"> ADDRESS </strong>
        <p class="text-descrpt mb-0 co-it">Postal Address :</p>
        <p class="text-descrpt mb-4">22 BP 266 Abidjan 22</p>
        <p class="text-descrpt mb-0 co-it">Geographic address :</p>
        <p class="text-descrpt mb-0">2nd Street Manu Avenue, Accra. Ghana</p>
        <p class="text-descrpt mb-0">
          LGI CI: Riviera Bonoumin - Cocody îlot 76, lot
        </p>
        <p class="text-descrpt mb-0">1025, parcelle 163, TF 91200</p>
        <p class="text-descrpt mb-0">Abidjan - Côte d'Ivoire.</p>
        <p class="text-descrpt mb-0">RCCM No: CI-ABJ-2020-B-03225</p>
        <p class="text-descrpt mb-0">CC No: 2012647 T</p>
        <p class="text-descrpt mb-0">CNPS No: 361611</p>
        <p class="text-descrpt">Code Import-Export No: 20045024M</p>
      </div>

      <div class="item-contact">
        <strong class="factor"> PHONE </strong>
        <p class="text-descrpt">+225 59212105</p>
      </div>

      <div class="item-contact">
        <strong class="factor"> EMAIL </strong>
        <p class="text-descrpt">ecoboostxb@lumgint.com</p>
      </div>
    </div>

    <div class="country-card">
      <p class="header-card">Senegal</p>
      <p class="country-name">Dakar</p>

      <div class="item-contact">
        <strong class="factor"> EMAIL </strong>
        <p class="text-descrpt">ecoboostxb@lumgint.com</p>
        <p class="text-descrpt">www.lumgint.com</p>
      </div>
    </div>
  </div>
</div>

<div class="become">
  <app-becom-ecoboost> </app-becom-ecoboost>
</div>
