.header {
  position: relative;
  background-image: url("../../../../assets/images/header/detailprod.jpg");
  background-size: cover;
  height: 283px;
}
.mini-nav {
  position: absolute;
  top: 145px;
  left: 10%;
  color: red;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #c0c0c0;
}
.detail-title {
  font-family: "Poppins-sem-bold";
  font-size: 34px;
  line-height: 28px;
  letter-spacing: -0.015em;
  color: #ffd20b;
}
.prod-span {
  color: white;
  margin-left: 5px;
}
.home-span {
  cursor: pointer;
}

.home-span:hover {
  color: yellow;
}

.container-center {
  padding-left: 20px;
  padding-right: 20px;
}

.title-part {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 60px;
  letter-spacing: -0.015em;
  color: #000000;
}

.title-part::after {
  display: block;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #ffd20b;
  margin-top: 9px;
}

.container-larg {
  margin-top: 64px;
}

.card-six {
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  column-gap: 32px;
  row-gap: 150px;
}
.parag {
  max-width: 1150px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #4bb02d;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 394px;
  width: 340px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
.left-algn {
  align-self: flex-start;
}
.image-card {
  display: inline-block;
  margin-top: 40px;
}
.band-title {
  font-family: "Poppins-sem-bold";
  font-style: normal;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.015em;
  margin-top: 11px;
  color: #4cb12e;
}

.text-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.015em;
  padding-left: 25px;
  padding-right: 25px;
  color: #000000;
  margin-top: 11px;
  //overflow: scroll;
}
.left-text {
  text-align: left;
  padding-left: 0px;
}
.larg1 {
  display: block;
  width: 100%;
  height: 250px;
}

.hl-card {
  min-height: 750px;
  border: none;
}
.last {
  padding-top: 100px;
}

.last2 {
  padding-top: 130px;
  padding-bottom: 50px;
}
.contry-flx {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  align-items: flex-start;
  row-gap: 64px;
}

.become {
  padding-top: 270px;
  transform: translateY(200px);
}

.country-card {
  min-height: 439px;
  border: 1px solid #d9d9d9;
  padding-left: 32px;
}
.header-card {
  padding-top: 32px;
  padding-bottom: 16px;
  font-family: "Poppins-sem-bold";
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  margin-bottom: 0;
  color: #000000;
}

.country-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -0.015em;
  color: #b2b2b2;
  margin-bottom: 8px;
}
.header-card::after {
  display: block;
  content: "";
  width: 90%;
  height: 3px;
  background-color: #ffd20b;
  margin-top: 20px;
}
.text-descrpt,
.factor {
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.015em;
}

.co-it {
  font-family: "Poppins-r";
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.015em;

  color: #999997;
}
.click-map {
  font-family: "Poppins-sem-bold";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-decoration-line: underline;
  color: #4bb02d;
}
.click-map :hover {
  cursor: pointer;
  color: #a1e28d;
}

.align-v {
  vertical-align: middle;
}
@media screen and(min-width:600px) {
  .mini-nav {
    top: 74px;
    left: 24px;
  }
  .country-card {
    width: 394px;
  }
}

@media screen and(min-width:900px) {
  .mini-nav {
    top: 147px;
    left: 184px;
  }
}

@media screen and(min-width:1132px) {
  .card-six {
    width: 1132px;
    margin: 0 auto;
  }
}

@media screen and(min-width:1244px) {
  .container-center {
    width: 1244px;
    margin: 0 auto;
  }
  .title-part {
    font-size: 40px;
    line-height: 60px;
  }

  .text-benifit {
    font-family: "Poppins-r";
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
  }
}
@media screen and(min-width:1300px) {
  .container-center {
    width: 1300px;
    margin: 0 auto;
  }
}
@media screen and(min-width:1500px) {
  .card-six {
    width: 1300px;
  }
  .cont-l {
    width: 1900px;
  }
  .card {
    height: 394px;
    width: 394px;
  }
  .hl-card {
    width: 494px;
    height: 278px;
  }
}
