<div class="chifres">
  <div class="item-value col2"> <img class="img-cam" src="assets/icons/truck.png" alt="" width="90px"> <span class="fact">Shipped Orders</span><span class="t-h c-2"> 80 </span></div>
  <div class="item-value col1"><img class="img-cam" src="assets/icons/hourglass.png"> <span class="fact">Pending Orders</span> <span class="t-h c-1"> 09 </span></div>
  <div class="item-value col3"> <img class="img-cam" src="assets/icons/bag.png"><span class="fact">New Orders</span> <span class="t-h c-3"> 05 </span> </div>
</div>

<div class="head">

  <div class="text-title"><span >Orders statistics </span> </div>

  <div class="anglet">
    <p class="anglet-sub"> All time </p>
    <p class="anglet-sub"> This year </p>
    <p class="anglet-sub"> This week </p>
  </div>
</div>

<div class="trait"></div>
<div class="graph-stat">

</div>
