.head {
  padding-top: 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.anglet {
  display: flex;
  margin-right: 130px;
}

.anglet-sub {
  margin-right: 20px;
  cursor: pointer;
  padding-bottom: 2px;
}

.anglet-sub:hover {
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.chifres {
  display: flex;
  flex-direction: column;
  column-gap: 25px;
  margin-bottom: 25px;
}
.item-value {
  position: relative;
  height: 120px;
  background-color: #4bb02d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}
.img-cam {
  position: absolute;
  bottom: 0;
  left: 0;
}

.t-h {
  font-size: 60px;
  line-height: 50px;
  margin-left: 260px;
}
.fact {
  font-size: 18px;
}
.col1 {
  background: linear-gradient(270deg, #ffffff 0.1%, #fff4c5 100.1%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.col2 {
  background: linear-gradient(270deg, #ffffff 0.1%, #e6fedf 100.1%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.col3 {
  background: linear-gradient(270deg, #ffffff 0.1%, #e7e7ff 100.1%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.c-1 {
  color: #b79906;
}
.c-2 {
  color: #4bb02d;
}
.c-3 {
  color: #484abb;
}
.orang,
.gren {
  font-size: 100px;
  line-height: 40px;
}
.orang {
  color: orange;
}
.gren {
  color: green;
}

.text-title {
  padding-left: 25px;
  font-size: 24px;
  line-height: 16px;
  text-transform: capitalize;
}
.trait {
  height: 1px;
  width: 95%;
  margin-left: 25px;
  background-color: #e9ecf3;
}
.graph-stat {
  height: 72%;
  background-color: white;
}

@media screen and (min-width: 1150px) {
  .chifres {
    flex-direction: row;
    margin-bottom: 25px;
  }
}
