<div class="main-content">
  <div class="text-title">Purchase > <strong>Inventory </strong></div>
  <div class="trait"></div>

  <div class="table-responsive">
    <table class="table">
      <thead class="head-table">
        <tr>
          <th scope="col" class="title-head">Product</th>
          <th scope="col" class="title-head">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fuel Enzyme Treatment 20 ml</td>
          <td>500</td>
        </tr>
        <tr>
          <td>Fuel Enzyme Treatment 20 ml</td>
          <td>500</td>
        </tr>
        <tr>
          <td>Fuel Enzyme Treatment 20 ml</td>
          <td>500</td>
        </tr>
        <tr>
          <td>Fuel Enzyme Treatment 20 ml</td>
          <td>500</td>
        </tr>

        <tr>
          <td>Fuel Enzyme Treatment 20 ml</td>
          <td>t500</td>
        </tr>

        <tr>
          <td>Fuel Enzyme Treatment 20 ml</td>
          <td>500</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
