<div class="header">
  <div class="mini-nav">
    <p class="detail-title">Register</p>
    <span class="home-span" routerLink="/">Home> Checkout </span>

    <span class="prod-span"> > Register</span>
  </div>
</div>

<div class="all-container">
  <p class="title-z">Create new customer account</p>

  <div class="form-all">
    <form iv class="form-input">

      <div class="groupe-field">
        <p class="title-fields">Name</p>
        <p class="label-input">First Name *</p>
        <input type="text" class="field-input" placeholder="First name" />

        <p class="label-input">Last Name *</p>
        <input type="text" class="field-input" placeholder="Last name"/>
      </div>


      <div class="groupe-field">

        <p class="title-fields">Address information</p>

        <p class="label-input">Company</p>
        <input type="text" class="field-input" placeholder="Company" />

        <p class="label-input">Phone Number</p>
        <input type="text" class="field-input"  placeholder="Phone"/>

        <p class="label-input">Street Address *</p>
        <input type="text" class="field-input"  placeholder=""/>

        <p class="label-input">City *</p>
        <input type="text" class="field-input" placeholder=""/>

        <p class="label-input">State/ Province *</p>
        <select class="field-input">
            <option value="1">Select a region, state or province.</option>
        </select>

        <p class="label-input">Zip/ Postal Code *</p>
        <input type="text" class="field-input" placeholder=""/>

        <p class="label-input">Country *</p>
        <select class="field-input">
          <option value="1">Ghana</option>
      </select>
      </div>

      <div class="groupe-field">

        <p class="title-fields">Login information</p>

        <p class="label-input">Email *</p>
        <input type="text" class="field-input" placeholder="Email"/>

        <p class="label-input">Password *</p>
        <input type="text" class="field-input" placeholder="Password"/>

        <p class="label-input">Confirm Password *</p>
        <input type="text" class="field-input" placeholder="Password confirmation"/>
      </div>

      <p class="btn-submit">
        <input type="submit" class="btn-sb" value="Create an account">
      </p>
      <p class="already-compt"> Already have an account ?   Sign in</p>

    </form>

  </div>

</div>
