.body {
  max-width: 700px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.resume {
  padding-bottom: 40px;
  text-align: center;
  font-family: "Poppins-sem-bold";
  font-size: 24px;
}
.sum {
  font-family: "Poppins-sem-bold";
  height: 55px;

  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  font-size: large;
  display: flex;
  justify-content: space-between;
}
.chiffre {
  color: rgb(87, 87, 172);
}

.btn-sucss {
  width: 107px;
  height: 40px;
  background: #4cb12e;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border: none;
  color: #ffffff;
}

.btn-sucss:hover {
  cursor: pointer;
  background: #8eda77;
}

.snip {
position:absolute;
}
