<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner" data-interval="500">
    $

    <div class="carousel-item active">
      <img
        src="assets/images/home/slides/engine_img-1.jpg"
        class="w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5 class="to-left str">Better technology</h5>
        <h5 class="to-left tp-title">For Your Engine</h5>
        <p class="to-left txt-desc">
          For Superior Fuel Efficiency And Dependable Engine Performance.
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="assets/images/home/slides/nature_img-2.jpg"
        class="w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5 class="to-left str">Custom Solution For</h5>
        <h5 class="to-left tp-title">Every Client</h5>
        <p class="to-left txt-desc">
          The Flow Improvers Are Designed To Enhance And Deliver Maximum Output.
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="assets/images/home/slides/enzymeplant_img-3.jpg"
        class="w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5 class="to-left str">Our Motto</h5>
        <h5 class="to-left tp-title">Caring For you</h5>
        <p class="to-left txt-desc">
          Serves The Automotive,Transport, Agric, Mining and Marine
          Industries...
        </p>
      </div>
    </div>
  </div>

  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
</div>

<img src="assets/images/home/shape.svg" alt="" class="img-corb" />
<div class="cor-et"></div>
=
<div class="whatisexbee">
  <div class="descript-part">
    <p class="title-section">What is XBEE technology ?</p>

    <p class="para-text">
      XBEE Enzyme Fuel Technology is a revolutionary fuel additive that uses the
      power of natural enzymes to improve the performance of cars, motorcycles,
      trucks, boats, oil-fired boilers, generators, farm and garden machinery,
      and all other internal combustion engines. XBEE is compatible with all
      types of fuel (petrol, diesel, fuel oil, off-road diesel, etc.) and all
      engines
    </p>
    <button class="btn-read" routerLink="/about">Read more</button>
  </div>
  <img src="assets/images/home/enzyme_fuel.png" alt="" class="img-exbee" />
</div>

<div class="bloc-best-sales">
  <p class="title-best">Our best sales</p>
  <div class="best-carousel">
    <img src="assets/images/home/bestProd.png" alt="" class="img-best" />

    <div class="descrpt-best">
      <p class="best-prod">EcoBoostXB 25ML</p>
      <p class="para-text">
        EcoBoostXB (Shot) 25ML Enzyme Fuel Treatment is a multifunctional fuel
        additive that facilitates improvement in combustion. This helps maximise
        performance, fuel efficiency and reliable operation. EcoBoost Shot™ is
        ideal for small fuel tanks, generators, motorbikes and engines that use
        pre-mix fuels.
      </p>
      <div class="indicator-item">
        <span
          class="btnIndicator"
          style="background-color: rgb(231, 185, 185)"
        ></span>
        <span class="btnIndicator"></span>
        <span class="btnIndicator"></span>
      </div>
    </div>
  </div>
</div>

<app-becom-ecoboost> </app-becom-ecoboost>
