<div class="chifres">
  <div class="item-value col2"> <img class="img-cam" src="assets/icons/truck.png" alt="" width="90px"> <span class="fact">Shipped Orders</span><span class="t-h c-2"> 80 </span></div>
  <div class="item-value col1"><img class="img-cam" src="assets/icons/hourglass.png"> <span class="fact">Pending Orders</span> <span class="t-h c-1"> 09 </span></div>
  <div class="item-value col3"> <img class="img-cam" src="assets/icons/bag.png"><span class="fact">New Orders</span> <span class="t-h c-3"> 05 </span> </div>
</div>


<div class="content-all">

  <div class="main-content">
    <div class="text-title">My orders > <strong>New order </strong></div>
    <div class="trait"></div>

    <div class="container-order">
      <p class="title-order">
        Order reference : <span class="code-refer"> 000410-22 </span>
      </p>

      <div class="table-responsive">
        <table class="table">
          <thead class="head-table">
            <tr>
              <th scope="col" class="title-head">Product</th>
              <th scope="col" class="title-head">Quantity</th>
              <th scope="col" class="title-head">Point de vente</th>
              <th scope="col" class="title-head">Date of order</th>
              <th scope="col" class="title-head">Date of delivery</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <select class="input-product-name" name="" id="">
                  <option>point de vente 1</option>
                  <option>point de vente 2</option>
                  <option>point de vente 3</option>
                </select>
              </td>
              <td><input type="number" class="Qts" placeholder="00" /></td>
              <td>
                <input
                  type="text"
                  class="input-vente-point"
                  placeholder="on met ici le point de ventre"
                  disabled
                />
              </td>
              <td>
                <input type="date" class="add-date" placeholder="dd-mm-yyyy" />
              </td>
              <td>
                <input
                  type="date"
                  class="add-date"
                  placeholder="dd-mm-yyyy"
                  value=""
                />
              </td>
            </tr>

            <tr>
              <td>
                <select class="input-product-name" name="" id="">
                  <option>point de vente 1</option>
                  <option>point de vente 2</option>
                  <option>point de vente 3</option>
                </select>
              </td>
              <td><input type="number" class="Qts" placeholder="00" /></td>
              <td>
                <input
                  type="text"
                  class="input-vente-point"
                  placeholder="Choose a product"
                />
              </td>
              <td>
                <input type="date" class="add-date" placeholder="dd-mm-yyyy" />
              </td>
              <td>
                <input
                  type="date"
                  class="add-date"
                  placeholder="dd-mm-yyyy"
                  value=""
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="add-order"><span class="btn-add-order"> + Add choice </span></p>
    </div>
  </div>

  <div class="validate">
    <input type="Submit" value="validate" class="btn-save" />
  </div>

</div>
