<div class="all-container">
  <p class="title-part">Please sign in</p>

  <div class="content-info">

    <div class="register-part">
      <div class="info">
        <p class="register-title">Registered customer</p>
        <p class="some-text">
          If you have an account, sign in with your email address.
        </p>
      </div>

      <div class="form-input">
        <label for="mail">Email <span class="red">*</span></label>
        <input
          type="text"
          class="input-field"
          id="mail"
          placeholder="Enter your email address"
        />
      </div>

      <div class="form-input">
        <label for="pwd">Password <span class="red">*</span></label>
        <input
          type="text"
          class="input-field"
          placeholder="Enter your password"
          id="pwd"
        />
      </div>

      <p class="some-text pt-2">Forgot Your Password?</p>

      <div class="bht-action">
        <button class="btn-signin">Sign in</button>
      </div>
      <p class="some-text red">* Required fields</p>

    </div>
<div class="ligne-vertical"></div>
    <div class="create-account">
      <p class="register-title">New customer</p>
      <p class="some-text">
        Creating an account has many benefits: check out faster, keep more than
        one address, track orders and more.
      </p>

      <ul class="list">
        <li>Check out faster</li>
        <li>Keep more than one address</li>
        <li>Track orders</li>
        <li>Track wishlist and more</li>
      </ul>

      <div class="bht-create">
        <button class="btn-signin creat">Create an account</button>
      </div>

    </div>



  </div>

</div>
