<div class="content-all">

  <div class="head-content">
    <div class="text-title"><strong>Bonus Tracking </strong></div>
    <div class="trait"></div>
  </div>

  <div class="main">
    <div class="graph-part">
      <div class="header"><span> Actual bonus </span></div>
      <div class="body-card">
        <img src="assets/images/chart/chart.png" alt="" />
      </div>
      <div class="footer-card">
        <span>
          <span class="pnt-sta">.</span>Bonus report of
          <strong> May 28, 2022 </strong></span
        >
      </div>
    </div>

    <div class="tab-bonus">
      <div class="header"><span> Historical bonus </span></div>

      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td class="title">Date</td>
              <td class="title">Percent</td>
              <td class="title">State</td>
            </tr>
            <tr>
              <td>28-05-2022</td>
              <td>47 %</td>
              <td class="sta"><div class="triangle"></div></td>
            </tr>
            <tr>
              <td>28-05-2022</td>
              <td>37 %</td>
              <td class="sta"><div class="triangle"></div></td>
            </tr>
            <tr>
              <td>28-05-2022</td>
              <td>22 %</td>
              <td class="sta"><div class="triangle-down"></div></td>
            </tr>

            <tr>
              <td>28-05-2022</td>
              <td>10 %</td>
              <td class="sta"><div class="triangle-down"></div></td>
            </tr>

            <tr>
              <td>28-05-2022</td>
              <td>19 %</td>
              <td class="sta"><div class="triangle"></div></td>
            </tr>

            <tr>
              <td>28-05-2022</td>
              <td>61 %</td>
              <td class="sta"><div class="triangle-down"></div></td>
            </tr>

            <tr>
              <td>28-05-2022</td>
              <td>51 %</td>
              <td class="sta"><div class="triangle-down"></div></td>
            </tr>

            <tr>
              <td>28-05-2022</td>
              <td>12 %</td>
              <td class="sta"><div class="triangle"></div></td>
            </tr>

            <tr>
              <td>28-05-2022</td>
              <td>14 %</td>
              <td class="sta"><div class="triangle-down"></div></td>
            </tr>

            <tr>
              <td>L28-05-2022</td>
              <td>12 %</td>
              <td class="sta"><div class="triangle"></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
